<div class="admin-login-response">
  {{#if errors}}
    <div class="error-message">
      {{#each errors}}
        <p>{{this}}</p>
      {{/each}}
    </div>
  {{/if}}
  
  {{#if error}}
    <div class="error-message">
      <p>{{error}}</p>
    </div>
  {{/if}}
  
  {{#unless errors}}
    {{#unless error}}
      <div class="success-message">
        <p>Login successful! Redirecting to dashboard...</p>
      </div>
    {{/unless}}
  {{/unless}}
</div>
